.navbar-default{
	color: #b3d9ff;
    background-color: #4dd2ff;
	}
.navbar-brand {
	font-family: Arial Black,Arial Bold,Gadget,sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color: #FFF;
}
.navbar-nav {
	font-family: Arial Black,Arial Bold,Gadget,sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;	
	color: FFF;
}
<<<<<<< HEAD
.about {
	background-color:#4dd2ff;
	font:italic bold 12px/30px Georgia, serif;
	
=======

>>>>>>> refs/remotes/origin/gh-pages

.g-signin2 {
	text-align: center; 
	width: 120px;
	margin: 0px auto 10px auto;
<<<<<<< HEAD
=======

.about {
	background-color:#4dd2ff;
	font:italic bold 12px/30px Georgia, serif;
	

>>>>>>> refs/remotes/origin/gh-pages
}