<<<<<<< HEAD
.navbar-default{
	color: #ffffff;
    background-color: #4dd2ff;
	}
.navbar-brand {
	font-family: Arial Black,Arial Bold,Gadget,sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.navbar-default .navbar-header a {
	color: #ffffff;
	vertical-align:text-bottom;
}

.nav.navbar-nav li a {
	color: #ffffff;
	vertical-align:bottom;
}

.navbar-nav {
	font-family: Arial Black,Arial Bold,Gadget,sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.about {
	background-color:#4dd2ff;
	font:italic bold 12px/30px Georgia, serif;
}

.g-signin2 {
	text-align: center; 
	width: 120px;
	margin: 0px auto 10px auto;
}
=======
.navbar-default{
	color: #ffffff;
	background-color: #4dd2ff;
}

.navbar-brand {
	font-family: Arial Black,Arial Bold,Gadget,sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.navbar-default .navbar-header a {
	color: #ffffff;
	vertical-align:text-bottom;
}

.nav.navbar-nav li a {
	color: #ffffff;
	vertical-align:bottom;
}

.navbar-nav {
	font-family: Arial Black,Arial Bold,Gadget,sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.about {
	background-color:#4dd2ff;
	font:italic bold 12px/30px Georgia, serif;
}

.g-signin2 {
	text-align: center; 
	width: 120px;
	margin: 0px auto 10px auto;
}
>>>>>>> afcbb82379807c1fcc356340e8cf0846c965d06a
