@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

html, body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

#map {
	height: 86%;
}

.navbar-default{
	color: #ffffff;
    background-color: #4dd2ff;
    text-shadow: 1px 1px #007399;
    margin-bottom: 0px;
    
}

@media (min-width: 767px) {
	.navbar-header > a {
		padding: 15px 15px 0px 15px;
	}
}

.navbar-header > a {
	padding: 0px 15px 0px 15px;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #ffffff;
	text-shadow: 1px 1px #007399;
	background-color:  #0099cc;
}

a:hover {
	text-shadow: 1px 1px #007399;
}

.navbar-brand {
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700px !important;
	line-height: 40px;
}

.navbar-default .navbar-header a {
	color: #ffffff;
}

.nav.navbar-nav > li > a {
	color: #ffffff;
}

.navbar-nav {
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700px !important;
	font-family: 'Roboto', sans-serif;
	
}

#nav-icon {
	height: 40px;
	width: 40px;
	border: 1px solid #007399;
}

.dropdown {
	margin-top: -3px;
}

.dropdown li a {
	color: black;
	text-shadow: 0px 0px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color:  #0099cc;
}

.g-signin2 {
	text-align: center; 
	width: 120px;
	margin: 0px auto 10px auto;
}



@media screen and (max-width: 500px) {
    .hed {
        font-size:22px;
    }
}
 
@media screen and (max-width: 750px) {
    .hed {
        font-size:24px;
    }
}

@media screen and (max-width: 1000px) {
    .hed {
        font-size:28px;
    }
}
 
@media screen and (max-width: 1250px) {
    .hed {
        font-size:30px;
    }
}

@media screen and (max-width: 500px) {
    .bod {
        font-size:14px;
    }
}
 
@media screen and (max-width: 750px) {
    .bod {
        font-size:16px;
    }
}

@media screen and (max-width: 1000px) {
    .bod {
        font-size:18px;
    }
}
 
@media screen and (max-width: 1250px) {
    .bod {
        font-size:20px;
    }
}

#about-box {
	width: 90%;
	margin: 4% auto;
	max-width: 900px;
	border-radius: 10px;
	opacity: 0.9;
	background-color: #4dd2ff;
	font:bold 12px/30px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 25px;
}

.btn {
	background-color:#4dd2ff;
	color: white;
	border:1px solid black;
}

#call-form {
	max-width: 700px;
	width: 90%;
	margin: 5% auto;
	font-family: 'Roboto', sans-serif;
}

#call-form > h2 {
	text-align: center;
}

